<h2>Update User</h2>

<div *ngIf="user">
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <input name="id"
             class="form-control"
             type="hidden"
             [(ngModel)]="user.id">
    </div>
    <div class="form-group">
      <label for="">Name</label>
      <input name="name"
             class="form-control"
             type="text"
             [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label for="">Job</label>
      <input name="job"
             class="form-control"
             type="text"
             [(ngModel)]="user.job">
    </div>
    <div class="form-group">
      <label for="">Salary</label>
      <input name="salary"
             class="form-control"
             type="text"
             [(ngModel)]="user.salary">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input name="email"
             type="email"
             class="form-control"
             [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input name="password"
             type="password"
             class="form-control"
             [(ngModel)]="user.password">
    </div>
    <div class="form-group">
      <label for="">Token</label>
      <input name="token"
             type="token"
             class="form-control"
             [(ngModel)]="user.token">
    </div>
    <button class="btn btn-primary"
            type="submit">
      Update
    </button>

  </form>
</div>

<!-- action="http://localhost:3000/api/users"
method="POST" -->
